<div>
  <!-- Upload Button - shown when displayMode is 'button' or 'both' -->
  <div class="upload-button-container" *ngIf="displayMode === 'button' || displayMode === 'both'">
    <button class="custom-file-upload" (click)="openOverlay()">
      <i class="upload-icon"></i>
      Daten importieren
    </button>
    <input id="file-upload" type="file" (change)="onFilesSelected($event)" accept=".xml" multiple />

    <!-- Overlay for file upload -->
    <div class="overlay" *ngIf="showOverlay" (click)="closeOverlayOnOutsideClick($event)">
      <div class="overlay-content">
        <div class="upload-area" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
          <div class="upload-icon-large"></div>
          <p class="upload-text">Ziehen und ablegen Sie Ihre Dateien hier</p>
          <div class="upload-options">
            <span class="or-text">Oder:</span>
            <button class="select-files-button" (click)="triggerFileInput($event)">Dateien von der Festplatte auswählen</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- File Content Display - shown when displayMode is 'files' or 'both' -->
  <div class="files-container" *ngIf="displayMode === 'files' || displayMode === 'both'">
    <div *ngFor="let file of parsedFiles" class="file-item">
      <h3>
        <span class="filename">{{ file.name }}</span>
        <span *ngIf="uploadStatus[file.name] === 'pending'" class="status pending">Wird hochgeladen...</span>
        <span *ngIf="uploadStatus[file.name] === 'success'" class="status success">Hochgeladen</span>
        <span *ngIf="uploadStatus[file.name] === 'error'" class="status error tooltip">
          Fehler
          <span class="tooltiptext" *ngIf="getErrorMessage(file.name)">{{ getErrorMessage(file.name) }}</span>
        </span>
      </h3>
      <div class="progress-container" *ngIf="uploadStatus[file.name] === 'pending' || (uploadStatus[file.name] === 'success' && showProgressAfterComplete[file.name])">
        <div class="progress-bar" [style.width.%]="getUploadProgress(file.name)"></div>
      </div>
    </div>
  </div>
</div>
